<row>
  <div class="center-block col-xs-12" ng-controller="NavigationController">
    <div class="col-md-2 left-side">
      <p>
        <button class="btn">Active Crowdsales</button>
      </p>
      <button class="btn coin-icon coin-icon-{{i}}" ng-repeat="i in [1,2,3,4]"></button>
      <p>
        <button class="btn next">See active crowdsales</button>
      </p>
    </div>
    <div class="col-md-5 main-tile" style="height: {{windowHeight - 198}}px">
      <div class="inner">
        <h1>The next generation wallet</h1>
        <p>
          Lorem ipsum dolor sit amet, an vel dicunt molestie. Ne aliquid ocurreret sententiae usu. Ius te quis persius. Te per agam saperet scriptorem, at cum meliore volutpat. Duo an insolens intellegebat concludaturque. Simul debitis sea an, quo ea facete meliore repudiare. Modo patrioque definitiones et sed, no erant euripidis deseruisse ius, est omittam ancillae adipisci ea.
        </p>
        <div class="controls">
          <button class="btn" ng-click="openCreateModal()">Create your wallet</button>
          <p>
            Already got one? <a href="/" class="log-in" ng-click="openLoginModal()">- Log in -</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 right-side">
      <p>
        <button class="btn">Popular Assets</button>
      </p>
      <button class="btn coin-icon coin-icon-{{i % 5 + 5}}" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]"></button>
      <p>
        <button class="btn next">Explore for assets</button>
      </p>
    </div>
  </div>
</row>

<row>
 <div class="col-xs-12"><br /><br /></div>
</row>

<row>
  <div class="col-xs-12 alert alert-info alert-dismissable hide">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   <strong>Coming Soon:</strong> We are proud to announce that starting next week Omni will be moving to Beta status. <br />
           You will also be able to find us on the main domain:  http://www.omniwallet.org <br /> 
  </div>
</row>
