<row>
  <div class="center-block col-xs-12" ng-controller="NavigationController">
    <div class="col-md-2 left-side">
      <p class="margin top">
        <button class="btn  action-btn">Active Crowdsales</button>
      </p>
      <button class="btn coin-icon coin-icon-{{key + 1}}" popover-placement="bottom" popover-trigger="mouseenter" popover="{{value}}" ng-repeat="(key, value) in ['Maidsafecoin','klippit','Unknown','Unknown2','Maidsafecoin2','klippit2','Unknown3','Unknown4','Maidsafecoin3','klippit3','Unknown5','Unknown6']"></button>
      <p class="margin bottom">
        <button class="btn action-btn next">See active crowdsales</button>
      </p>
    </div>
    <div class="col-md-5 main-tile">
      <div class="inner" style="height: {{windowHeight - 198}}px">
        <h1>The next generation wallet</h1>
        <p class="main-text">
          Manage all of your digital assets from a secure, easy to use yet powerful wallet. Decentralized exchange, crowdsales and various tokens available. Access to your funds is solely yours, decryption is on your machine and passwords are never being sent to the server. Being build as an open source project, Omni is a transparent service. Welcome to the future of cryptocurrency. We hope you'll Enjoy Omni. Take part on this little stuff we do. <b>Registration is free and anonymous.</b>
        </p>
        <div class="controls">
          <button class="btn" ng-click="openCreateModal()">Create your wallet</button>
          <p>
            Already got one? <a href="/" class="log-in" ng-click="openLoginModal()">- Log in -</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 right-side" style="width: {{windowWidth - 900}}px;">
      <p class="margin top" style="width: {{windowWidth - 900}}px;">
        <button class="btn action-btn">Popular Tokens</button>
      </p>
      <button class="btn coin-icon coin-icon-{{(key + 1) % 5 + 5}}" popover-placement="bottom" popover-trigger="mouseenter" popover="{{value}}" ng-repeat="(key, value) in ['Litecoin','Unknown','Mastercoin','Peercoin','Bitcoin','Litecoin2','Unknown2','Mastercoin2','Peercoin2','Bitcoin2','Litecoin3','Unknown3','Mastercoin3','Peercoin3','Bitcoin3','Litecoin4','Unknown4','Mastercoin4','Peercoin4','Bitcoin4','Litecoin5','Unknown5','Mastercoin5','Peercoin5','Bitcoin5','Litecoin6','Unknown6','Mastercoin6','Peercoin6','Bitcoin6']"></button>
      <p class="margin bottom" style="width: {{windowWidth - 850}}px;">
        <button class="btn action-btn next">Explore for assets</button>
      </p>
    </div>
  </div>
</row>

<row>
 <div class="col-xs-12"><br /><br /></div>
</row>

<row>
  <div class="col-xs-12 alert alert-info alert-dismissable hide">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   <strong>Coming Soon:</strong> We are proud to announce that starting next week Omni will be moving to Beta status. <br />
           You will also be able to find us on the main domain:  http://www.omniwallet.org <br /> 
  </div>
</row>
