html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}
.brown{color:#9b846b}
.green{color:#61B329}
.info{background-color:#B0C4DE}
.om-container {
}
.om-body {
  margin-left: 100px;

}
.container {
  width: inherit;
}
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.sidebar :hover {
  background-color: #C4C6CC;
}
.om-title {
  font-size:300%;
  color:lightgray;
}
.left {
  position: absolute;
  margin-top: 125px;
  margin-left: 150px;
}
.middle {
  margin-bottom: -98px;
  margin-top: 98px;
}
.main-tile {
  background: url(assets/img/main-tile-background.png) no-repeat scroll right bottom #2d508f;
  color: white;
  min-height: 560px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: justify;
}
.main-tile .controls {
  text-align: center;
}
.main-tile .inner {
  background: url(assets/img/main-tile-pattern.png) no-repeat scroll right bottom #2d508f;
  margin: 0 -15px;
  padding: 0 15px 120px;
  position: fixed;
}
.main-tile h1 {
  font-family: 'droid sans';
  font-size: 38px;
  font-weight: bold;
}
.main-tile p {
  color: #4bffec;
  font-family: 'pt sans';
  font-size: 16px;
}
.main-tile .btn {
  background-color: #4bffec;
  border-radius: 0;
  color: #349760;
  font-family: 'slab bold';
  font-size: 24px;
  font-weight: bold;
}
.main-tile .log-in {
  color: #d4d4d4;
  font-family: 'droid sans';
  font-size: 16px;
}
.left-side, .right-side {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.left-side {
  max-width: 150px;
}
.left-side .btn, .right-side .btn {
  background-color: white;
  color: #eff1f5;
  font-family: 'pt sans';
  font-size: 16px;
  font-weight: bold;
}
.left-side .btn.next, .right-side .btn.next {
  color: #f0f4fa;
}
.left-side .btn:hover, .right-side .btn:hover {
  color: #535353;
}
.coin-icon {
  border-radius: 0;
  height: 110px;
  margin: 15px;
  opacity: 0.2;
  width: 110px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.coin-icon:hover {
  opacity: 1;
}
.coin-icon-1 {
  background: url(assets/img/coins-icons/1.png);
}
.coin-icon-2 {
  background: url(assets/img/coins-icons/2.png);
}
.coin-icon-3 {
  background: url(assets/img/coins-icons/3.png);
}
.coin-icon-4 {
  background: url(assets/img/coins-icons/4.png);
}
.coin-icon-5 {
  background: url(assets/img/coins-icons/5.png);
}
.coin-icon-6 {
  background: url(assets/img/coins-icons/6.png);
}
.coin-icon-7 {
  background: url(assets/img/coins-icons/7.png);
}
.coin-icon-8 {
  background: url(assets/img/coins-icons/8.png);
}
.coin-icon-9 {
  background: url(assets/img/coins-icons/9.png);
}
.arc path {
  stroke: #fff;
}
a {
   cursor: pointer;
}
.navbar-brand img {
  max-height: 3.7em;
}
.navbar-nav > li {
  padding-top: 5%;
}
.footer .navbar-nav > li {
  padding-top: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency-name, .currency-total, .currency-value {
	font-weight: bold;
	font-size: 1.5em;
}

.currency {
	text-align: right;
}

.asset-table {
	padding-top: 50px;
}

.asset-table row {
	cursor: pointer;
}

.asset-item {
	font-size: 1.2em;
}

.landing-thumbnail {
	padding-top: 20px;
	border: 0;
}

input.search-query {
    padding-left:26px;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:10px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.alert {
    margin-top: 20px;
}
.alert-custom {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -ms-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.block-tx {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background-color:#E4F1F2;
    border-radius:2px;
    margin:20px 0 10px;
    overflow:hidden;
    padding:15px;
    border:1px solid #eee;
    float:left;
    width:48%;
    height:320px;
}

.number {
    /*font-family: Inconsolata;*/
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}
.number .numeral-integer, .number .numeral-left {
    color: #484848;
    font-weight: bold;
    /*float: left;
    text-align: right;
    width: 50%;*/
}
.number .numeral-right {
    color: #7c7c7c;
    /*float: left;
    text-align: left;
    width: 50%;*/
}

/* Social icons (source: http://azmind.com/2012/11/06/social-icons-sprites-35-ready-to-use-icons-psd-png-html-css/) */
.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}
 
.icons a.twitter { background: url(/assets/img/social-icons/twitter.png) left top no-repeat; }
.icons a.reddit { background: url(/assets/img/social-icons/reddit.png) left top no-repeat; }
.icons a.facebook { background: url(/assets/img/social-icons/facebook.png) left top no-repeat; }

.icons a:hover { background-position: left -34px; }

/* Customized modal */
.wallet-create-modal {
    background-color: #044F92;
}
.wallet-create-modal h3 {
    color: white;
    font-weight: bold;
}

.login-modal {
    background-color: #00A551;
}
.login-modal h3 {
    color: white;
    font-weight: bold;
}
